{
    "extends": "stylelint-config-standard",
    "rules": {
        "at-rule-empty-line-before": null,
        "no-missing-end-of-source-newline": null,
        "number-leading-zero": null,
        "selector-pseudo-element-colon-notation": "single",
        "string-quotes": "double",
        "shorthand-property-no-redundant-values": null,
        "length-zero-no-unit": null,
        "selector-type-no-unknown": null,
        "indentation": null,
        "comment-empty-line-before": null,
        "at-rule-no-unknown": null,
        "rule-empty-line-before": null,
        "no-descending-specificity": null,
        "font-family-no-missing-generic-family-keyword": null,
        "no-duplicate-selectors": null
    }
}
